.container-fluid {
    background: rgb(0,43,111);
    background: linear-gradient(180deg, rgba(0,43,111,1) 0%, rgba(1,151,255,1) 50%, rgba(197,231,242,1) 100%);
    width: 100vw;
    height: 100vh;
    color: #fff;
}

#rightBar {
    background-color:#002366;
    color: #fff;
    height: 100vh;
    opacity: .75;
    z-index: 2;
}

body {
    margin: 0 auto;
    overflow: hidden;
}

#dateText {
    opacity: .75;
    padding-top: 40px;
}

#dateText > h6 {
    font-weight: 300;
}

#dateText > h4 {
    font-weight: 300;
}

#timeText > h1{
    font-weight: 200;
}

#tempText > h1{
    font-weight: 200;
}

#tempTextTop {
    opacity: .75;
    font-weight: 300;
}

#tempText {
    padding-top: 20px;
}

#weatherText {
    opacity: .75;
}

#skyline > img {
    width: 100%;
}

#skyline {
    position: absolute;
    z-index: 1;
    top: 140px;
    right: 0px;
}

#mainStage {
    opacity: .75;
}